.form-mobile {
  background-color: $orange;
  display: block;
  text-align: center;
  padding: rem(15) 0;

  @include breakpoint(md) {
    display: none;
  }

  h2,
  p {
    color: $white;
  }

  h2 {
    font-size: rem(28);
    margin-bottom: rem(10);
  }

  p {
    margin-bottom: rem(32);
  }

  input {
    border-color: $white;
    color: $white;
  }

  ::-webkit-input-placeholder {
    color: $white;
  }
  ::-moz-placeholder {
    color: $white;
  }
  :-ms-input-placeholder {
    color: $white;
  }
  :-moz-placeholder {
    color: $white;
  }

}
