footer.mainFooter
  .mainFooter--main
    .container
      .row
        .col-md-12
          a(href="https://www.neolo.com", title="")
            +img('logo-neolo.svg')
          ul
            li.tw: a(href="", title=""): +svg('tw')
            li.fb: a(href="", title=""): +svg('fb')
  .mainFooter--second
    .container
      .row
        .col-md-12
          p Copyright © 2018
