section.form-mobile
  .container
    .row
      .col-md-12
        h2 ¡No te quedes afuera!
        p Entérate de todos nuestros talleres de capacitación gratuita suscribiéndote a los anuncios.
        form(method="", action="")
          input(type="email", placeholder="Ingresa tu email" required)
          input(type="text", placeholder="País" required)
          button.btn.btn--white(type="submit") Suscribirme
