section.main
  .container
    .row
      .col-md-12
        header
          h1 Neolo Academy
          h5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    .row
      .col-md-12
        section.main--section
          include talleres
    include form-mobile
    include talleres-pasados
