.block.block__webinar
  .block--left
    .block--date
      .block--date__num 22
      .block--date__month de Marzo
      .block--date__day Jueves
    .block--date__mobile
      .block--place
        span Mendoza
      a.block--tag.tag--mobile(href="", title="") Webinar
  .block--center
    a.block--tag.tag--desktop(href="", title="") Webinar
    h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
  .block--right
    a.btn(href="", title="") Más información
    
.block.block__taller
  .block--left
    .block--date
      .block--date__num 22
      .block--date__month de Marzo
      .block--date__day Jueves
    .block--date__mobile
      .block--place
        span CABA
      a.block--tag.tag--mobile(href="", title="") Taller
  .block--center
    a.block--tag.tag--desktop(href="", title="") Taller
    h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
  .block--right
    a.btn(href="", title="") Más información

.block.block__conferencia
  .block--left
    .block--date
      .block--date__num 22
      .block--date__month de Marzo
      .block--date__day Jueves
    .block--date__mobile
      .block--place
        span online
      a.block--tag.tag--mobile(href="", title="") Conferencia
  .block--center
    a.block--tag.tag--desktop(href="", title="") Conferencia
    h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
  .block--right
    a.btn(href="", title="") Más información
