section.talleres-pasados
  h3: span Talleres Pasados
  .row
    .col-md-6
      .block.block__webinar.block--small
        a.block--tag(href="", title="") Webinar
        h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
        a.btn.btn--blue(href="", title="") Más información
    .col-md-6
      .block.block__taller.block--small
        a.block--tag(href="", title="") Taller
        h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
        a.btn.btn--blue(href="", title="") Más información
  .row
    .col-md-6
      .block.block__conferencia.block--small
        a.block--tag(href="", title="") Conferencia
        h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
        a.btn.btn--blue(href="", title="") Más información
    .col-md-6
      .block.block__webinar.block--small
        a.block--tag(href="", title="") Webinar
        h2 Instagramers: ¿Qué son y Cómo potenciar mi negocio con ellos?
        a.btn.btn--blue(href="", title="") Más información
