.main {
  padding-top: rem(42);

  header {
    text-align: center;

    h1 {
      margin-bottom: rem(10);
    }

    h5 {
      font-weight: 600;
      font-size: rem(16);
      line-height: 1.66;

      @include breakpoint(md) {
        font-size: rem(18);
      }
    }
  }

  &--section {
    margin-top: rem(68);
  }
}
